// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Collor Pallete
$PrimaryDark: #2A2A2A;
$LightWhite: #EDF0F3;
$SecondaryWhite: #FBF7F7;
$BorderLight: #707070;
$BorderVeryLight: #D4D4D4;
$LightenOrange: #F9D00F;
$DarkerOrange: #F0AE2C;
$PrimaryRed: #F92727;
$PrimaryGreen: #27f939;
$PrimaryYellow: #e5ff00;
$PrimaryBlue: #4270EE;
$TextDarker: #616161;


$ScreenMinWidth: 270px;


$BoxShadow: 0px 3px 6px rgba(0,0,0,0.2);

@mixin box-button($bgCol, $txCol) {
    background-color: $bgCol;
    color: $txCol;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.2s;
    font-size: 0.9rem;

    &:hover {
        background-color: darken($bgCol, 15%);
        color: darken($txCol, 100%);
    }
}

@mixin button-default($bg: black, $color: white, $bg_hover: white, $color_hover: black) {
    background-color: $bg;
    font-weight: 600;
    color: $color;
    border-radius: 0;

    &:hover {
        cursor: pointer;
        background-color: $bg_hover;
        color: $color_hover;
    }
    
    &.ico {
        padding-left: 12px;

        span {
            margin-left: 8px;
        }
    }

}

@mixin section-header-title() {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

@mixin image-hover-animate() {
    transition: all ease-in-out 0.3s;

    &:hover {
        cursor: pointer;
        transform: scale(1.5);
    }
}

@mixin no-image-i() {
    width: 100%;
    height: 100%;
    background-color: $BorderVeryLight;
    display: grid;
    place-items: center;

    &:hover {
        cursor: pointer;
        background-color: $PrimaryDark;

        i {
            color:  white;
        }
    }
    
    i {
        font-size: 1.2rem;
        color: black;
    }
}

@mixin page-title($color: black, $lighter: $PrimaryRed) {
    color: $color;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
    
    .lighter {
        color: $lighter;
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-weight: 600;
    }
}

@mixin section-title($color: black, $lighter: $PrimaryRed) {
    color: $color;
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-weight: 600;
    margin: 0;
    
    .lighter {
        color: $lighter;
        font-size: 1.2rem;
        letter-spacing: 5px;
        font-weight: 600;
    }
}

@mixin section-subtitle($color: $TextDarker) {
    color: $color;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

@mixin form-row-wrapper() {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
    align-items: center;

    .input-title {
        flex-basis: 150px;
    }
    .input-items {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 3px;

        input, textarea {
            width: 100%;
        }
        select, .file {
            // flex-grow: 1;
            max-width: 420px;
            // flex-basis: 250px;
            // width: 50%;
        }
        small {
            margin-left: 10px;
            
            &.error {
                color: $PrimaryRed;
            }
        }
        .label {
            font-weight: 600;
        }
    }
    textarea {
        min-height: 110px;
    }
    &.top {
        align-items: flex-start;

        * {
            transition: 0s;
        }
    }
}