@import '_var.scss';

.umkm-verification {

    .container {

        .page-content-card {

            &.page-verify-card {
                height: fit-content;
                max-height: 0vh;
                transition:  all ease-in-out 0.3s;
                overflow: hidden;
                padding: 0;
                
                &.active {
                    max-height: 1000vh;
                    padding: 10px;
                }
            }

            .info-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                * {
                    font-size: 1rem;
                }

                .row-wrapper {
                    @include form-row-wrapper();
                    
                    &.top-align {
                        align-items: flex-start;
                    }

                    .input-title {
                        font-weight: 600;
                    }

                    .input-items {

                        &.row-button {
                            flex-basis: 400px;

                            .btn {
                                @include button-default($LightWhite, black, $LightenOrange, black);
                                width: fit-content;
                                
                                * {
                                    font-size: 0.9rem;
                                }
        
                                &.active {
                                    background-color: $LightWhite;
                                    width: 100%;
                                    flex-direction: row-reverse;

                                    span {
                                        margin: 0;
                                        margin-right: 10px;
                                    }
                                    
                                    i.fa-solid.fa-chevron-up {
                                        transform: rotate(180deg);
                                        transition: all ease-in-out 0.2s;
                                    }

                                    &:hover {
                                        background-color: $LightenOrange;

                                        i.fa-solid.fa-chevron-up {
                                            transform: rotate(0);
                                        }
                                    }
                                }

                                .expand, .minimize {
                                    display: none !important;
                                    
                                    &.show {
                                        display: block !important;
                                    }
                                }

                            }

                            .docs-wrapper, .umkm-picture-wrapper {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                overflow: hidden;
                                background-color: $LightWhite;
                                transition: all ease-in-out 0.3s;
                                max-height: 0vh;
                                border-bottom-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                                
                                .image-container {
                                    max-width: 800px;
                                    height: fit-content;
                                    opacity: 0;
                                    transition: all ease-in-out 0.3s;

                                    img {
                                        width: 100%;
                                        height: fit-content;
                                        object-fit: cover;
                                    }
                                }

                                &.umkm-picture-wrapper {
                                    flex-direction: row;
                                    gap: 10px;
                                    align-items: flex-start;
                                    justify-content: center;
                                    flex-wrap: wrap;

                                    .image-container {
                                        max-width: 800px;
                                        flex-basis: 280px;
                                        flex-grow: 1;
                                    }
                                }

                                
                                &.show {
                                    max-height: 2000vh;

                                    .image-container {
                                        opacity: 1;
                                    }
                                }

                            }
                        }
                        
                    }
                }

                .content-title {
                    // font-weight: 600;
                    color: $TextDarker;
                    margin-top: 5px;
                    letter-spacing: 1px;
                }

                .owner-info-wrapper {
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;
                    row-gap: 20px;
                    justify-content: space-around;
                    flex-wrap: wrap-reverse;

                    .info-wrapper {
                        flex-grow: 1;
                        flex-basis: 220px;
                    }

                    .profile-wrapper {
                        display: flex;
                        flex-direction: column;
                        max-width: 220px;
                        padding: 10px 0;
                        
                        .image-container {
                            width: 100%;
                            height: fit-content;
                            border-radius: 4px;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: fit-content;

                                object-fit: cover;
                            }
                        }

                    }
                }

            }

            .log-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0;
                height: fit-content;
                max-height: 0vh;
                transition: all ease-in-out 0.3s;
                overflow: hidden;
                
                &.active {
                    max-height: 200vh;
                    padding: 0 20px;
                }
        
                .title {
                    font-weight: 600;
                }
        
                table {
                    font-size: 0.9rem;

                    tr.current {
                        background-color: $BorderVeryLight;
                    }
                }
            }

            .message-container {
                padding: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                overflow: hidden;
                transition: all ease-in-out 0.3s;
                max-height: 0vh;
                
                &.active {
                    max-height: 100vh;
                    padding-top: 15px;
                }

                .title {
                    font-size: 1rem;
                    font-weight: 600;
                }
        
                textarea {
                    transition: height 0s linear;
        
                }
        
                small.error {
                    margin-right: 10px;
                    color: $PrimaryRed;
                }

                .row-wrapper {
                    @include form-row-wrapper();
                    justify-content: flex-start;

                    .input-title {
                        font-size: 1rem;
                        font-weight: 600;
                    }

                    .input-items {
                        font-size: 0.9rem;

                        &.file {
                            max-width: 320px;
                        }
                        
                        &.form {
                            max-width: 420px;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
            }
        

            .button-wrapper {
                display: flex;
                flex-direction: row;
                gap: 10px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                padding: 10px 0;

                .btn {
                    
                    &.btn-accept {
                        @include box-button($LightenOrange, black);
                    }
                    &.btn-reject {
                        @include box-button($PrimaryRed, white);
                    }
                    &.btn-abort {
                        @include box-button($PrimaryDark, white);

                        &:hover {
                            color: $LightenOrange;
                        }
                    }
                }
            }

        }
    }
}