* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  min-width: 270px;
  height: 100vh;
  min-height: 250px;
}

.app .app-message {
  width: 100%;
  padding: 20px 0;
  background-color: #EDF0F3;
}
.app .app-message .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
.app .app-message .container .header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.app .app-message .container .header-wrapper .header-title {
  font-weight: 600;
}
.app .app-message .container .header-wrapper .logo-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.app .app-message .container .header-wrapper .logo-wrapper .logo-container {
  height: 60px;
}
.app .app-message .container .header-wrapper .logo-wrapper .logo-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.app .app-message .container .header-wrapper .logo-wrapper span {
  letter-spacing: 2px;
}
.app .app-message .container .content-wrapper {
  flex-basis: 300px;
  flex-grow: 1;
}
.app .app-message .container .content-wrapper p {
  text-align: justify;
  font-size: 0.9em;
}
.app .app-message .container .content-wrapper .link-href {
  font-weight: 600;
  text-decoration: none;
  color: #F92727;
}
.app .app-message .container .content-wrapper .link-href:hover {
  cursor: pointer;
  text-decoration: underline;
}
.app .page-section {
  padding: 20px 0;
}
.app .page-section.lighten {
  background-color: #EDF0F3;
}
.app .page-section .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app .page-section .container .section-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.app .page-section .container .section-header.dashed {
  background-color: #F92727;
}
.app .page-section .container .section-header.dashed .section-header-title {
  background-color: white;
}
.app .page-section .container .section-header.wrapped {
  background-color: #EDF0F3;
  padding: 10px;
  border-radius: 4px;
}
.app .page-section .container .section-header .section-header-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 20px;
  margin: 0;
}
.app .page-section .container .section-header .section-header-title span {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  color: #F92727;
}
.app .page-section .container .section-header .section-header-subtitle {
  font-size: 1rem;
}
.app .page-section .container .section-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.app .page-section .container .section-content .product-wrapper, .app .page-section .container .section-content .umkm-wrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 0;
  display: grid;
  grid-gap: 10px;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.app .page-section .container .section-content .product-wrapper.product-wrapper, .app .page-section .container .section-content .umkm-wrapper.product-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.app .page-section .container .section-content .product-wrapper.umkm-wrapper, .app .page-section .container .section-content .umkm-wrapper.umkm-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.app .page-section .container .section-content .product-wrapper.umkm-wrapper .UMKM-card, .app .page-section .container .section-content .umkm-wrapper.umkm-wrapper .UMKM-card {
  background-color: #EDF0F3;
}
.app .page-section .container .section-content .product-wrapper .item, .app .page-section .container .section-content .umkm-wrapper .item {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: grid;
  place-items: center;
}
.app .page-section .container .section-content .product-wrapper .item .product-card, .app .page-section .container .section-content .umkm-wrapper .item .product-card {
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
}
.app .page-section .container .section-content .section-content-button {
  background-color: #2A2A2A;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  transition: all ease 0.1s;
  text-transform: uppercase;
}
.app .page-section .container .section-content .section-content-button:hover {
  cursor: pointer;
  background-color: #F92727;
  color: white;
}
.app .page-section .container .row-content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: end;
  position: relative;
}
.app .page-section .container .row-content-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #EDF0F3;
  border-radius: 4px;
}
.app .page-section .container .row-content-wrapper .row-section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  height: 40px;
  background-color: unset;
  position: relative;
  z-index: 4;
}
.app .page-section .container .row-content-wrapper .row-section-header .section-header-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0 10px;
  flex-shrink: 0;
}
.app .page-section .container .row-content-wrapper .row-section-header .section-header-title::before {
  content: "";
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #F9D00F;
  border-radius: 4px;
  z-index: -1;
}
.app .page-section .container .row-content-wrapper .row-section-header .section-header-title span {
  color: #F9D00F;
}
.app .page-section .container .row-content-wrapper .row-section-content {
  position: relative;
  bottom: 10px;
  height: -moz-fit-content;
  height: fit-content;
  flex-basis: 620px;
  flex-grow: 1;
  width: 60%;
}
.app .page-section .container .row-content-wrapper .row-section-content .swiper-wrapper {
  align-items: flex-end;
}
.app .page-section .container .row-content-wrapper .swiper-pagination {
  position: absolute;
  bottom: -10px;
}
.app .page-section .container .row-content-wrapper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #F0AE2C;
}
.app .page-section .container .product-detail-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}
.app .page-section .container .product-detail-wrapper.card {
  background-color: white;
  border-radius: 4px;
  border: 0;
}
.app .page-section .container .product-detail-wrapper .image-container {
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.app .page-section .container .product-detail-wrapper .image-container img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.3s;
}
.app .page-section .container .product-detail-wrapper .image-container img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.app .page-section .container .product-detail-wrapper .image-container .no-image {
  height: 250px !important;
  width: 100%;
  height: 100%;
  background-color: #D4D4D4;
  display: grid;
  place-items: center;
}
.app .page-section .container .product-detail-wrapper .image-container .no-image:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
.app .page-section .container .product-detail-wrapper .image-container .no-image:hover i {
  color: white;
}
.app .page-section .container .product-detail-wrapper .image-container .no-image i {
  font-size: 1.2rem;
  color: black;
}
.app .page-section .container .product-detail-wrapper .content-container {
  flex-basis: 400px;
  flex-grow: 1;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app .page-section .container .product-detail-wrapper .content-container .content-head-wrapper {
  width: 100%;
}
.app .page-section .container .product-detail-wrapper .content-container .content-head-wrapper .title {
  font-size: 1em;
  font-weight: 600;
  text-align: justify;
}
.app .page-section .container .product-detail-wrapper .content-container .content-neck-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: flex-start;
}
.app .page-section .container .product-detail-wrapper .content-container .content-neck-wrapper span {
  font-size: 0.9em;
}
.app .page-section .container .product-detail-wrapper .content-container .content-neck-wrapper .main {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}
.app .page-section .container .product-detail-wrapper .content-container .content-neck-wrapper .main .location-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}
.app .page-section .container .product-detail-wrapper .content-container .price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app .page-section .container .product-detail-wrapper .content-container .price-wrapper .discount-box {
  padding: 5px 10px;
  background-color: #F9D00F;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  font-size: 0.9em;
}
.app .page-section .container .product-detail-wrapper .content-container .price-wrapper .main-price, .app .page-section .container .product-detail-wrapper .content-container .price-wrapper .secondary-price {
  font-size: 0.9em;
}
.app .page-section .container .product-detail-wrapper .content-container .price-wrapper .main-price {
  font-weight: 600;
  flex-grow: 1;
}
.app .page-section .container .product-detail-wrapper .content-container .price-wrapper .secondary-price {
  text-decoration: line-through;
}
.app .page-section .container .product-detail-wrapper .content-container .description-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.app .page-section .container .product-detail-wrapper .content-container .description-wrapper .title {
  font-weight: 600;
  font-size: 0.9em;
}
.app .page-section .container .product-detail-wrapper .content-container .description-wrapper .description {
  width: 100%;
  text-align: justify;
  font-size: 0.9em;
}
.app .page-section .container .product-detail-wrapper .cart-container {
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.app .page-section .container .product-detail-wrapper .cart-container * {
  font-size: 0.9rem;
}
.app .page-section .container .product-detail-wrapper .cart-container .title {
  width: 100%;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
}
.app .page-section .container .product-detail-wrapper .cart-container .qty-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 2px;
}
.app .page-section .container .product-detail-wrapper .cart-container .qty-wrapper .input-group {
  flex-grow: 3;
  width: 150px;
}
.app .page-section .container .product-detail-wrapper .cart-container .qty-wrapper .stock-container {
  flex-grow: 1;
}
.app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper.hide .form-floating {
  height: 0;
}
.app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper .title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
.app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper .title-container:hover {
  cursor: pointer;
}
.app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper .title-container:hover span, .app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper .title-container:hover i {
  color: #F92727;
}
.app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper .title-container span {
  font-weight: 600;
}
.app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper .form-floating {
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  height: 120px;
}
.app .page-section .container .product-detail-wrapper .cart-container .msg-wrapper .form-floating textarea {
  height: 100%;
}
.app .page-section .container .product-detail-wrapper .cart-container .price-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 5px;
}
.app .page-section .container .product-detail-wrapper .cart-container .price-wrapper .label, .app .page-section .container .product-detail-wrapper .cart-container .price-wrapper .price {
  font-weight: 600;
}
.app .page-section .container .product-detail-wrapper .cart-container .button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.app .page-section .container .product-detail-wrapper .cart-container .button-wrapper .btn {
  width: 100%;
  outline: 0;
  border: 0;
}
.app .page-section .container .product-detail-wrapper .cart-container .button-wrapper .btn-primary {
  background-color: #F9D00F;
  font-weight: 600;
  color: white;
  border-radius: 0;
}
.app .page-section .container .product-detail-wrapper .cart-container .button-wrapper .btn-primary:hover {
  cursor: pointer;
  background-color: #F92727;
  color: black;
}
.app .page-section .container .product-detail-wrapper .cart-container .button-wrapper .btn-secondary {
  background-color: white;
  font-weight: 600;
  color: #F9D00F;
  border-radius: 0;
  border: 1px solid #F9D00F;
}
.app .page-section .container .product-detail-wrapper .cart-container .button-wrapper .btn-secondary:hover {
  cursor: pointer;
  background-color: #F9D00F;
  color: black;
}
.app .row-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.app .row-container.light-bg {
  background-color: #EDF0F3;
}
.app .row-container .menu-container {
  width: 420px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  transition: all ease-in-out 0.3s;
  position: relative;
}
.app .row-container .menu-container.lighten {
  background-color: #EDF0F3;
}
.app .row-container .menu-container .shadow-placeholder {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  display: none;
  transition: all ease-in-out 0.3s;
}
.app .row-container .menu-container .shadow-placeholder.fill {
  height: 40px;
}
.app .row-container .menu-container .toggle-btn {
  position: absolute;
  right: 0;
  top: 75px;
  width: 40px;
  height: 40px;
  display: none;
  place-items: center;
  padding: 5px;
  border-radius: 50%;
  transform: translateX(50%);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #F9D00F;
  transition: all ease-in-out 0.3s;
}
.app .row-container .menu-container .toggle-btn.higher {
  top: 32px;
}
.app .row-container .menu-container .toggle-btn.hide {
  transform: translateX(90%);
}
.app .row-container .menu-container .toggle-btn.hide i {
  transform: rotate(180deg);
}
.app .row-container .menu-container .toggle-btn:hover {
  cursor: pointer;
  background-color: #F92727;
}
.app .row-container .menu-container .toggle-btn i {
  font-size: 1.3rem;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.app .row-container .menu-container .navigation {
  width: 280px;
  flex-grow: 1;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 20px 10px;
}
.app .row-container .menu-container .navigation.navigation-menu {
  height: -moz-fit-content;
  height: fit-content;
}
.app .row-container .menu-container .navigation.navigation-menu .nav-content {
  height: -moz-fit-content;
  height: fit-content;
  overflow: unset;
}
.app .row-container .menu-container .navigation.card {
  border-radius: 4px;
  border: 0;
  background-color: #EDF0F3;
}
.app .row-container .menu-container .navigation .nav-header {
  width: 100%;
  padding: 10px;
  margin: 0;
  position: relative;
  z-index: 3;
}
.app .row-container .menu-container .navigation .nav-header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25px;
  z-index: -1;
  background-color: #F9D00F;
  border-radius: 4px;
}
.app .row-container .menu-container .navigation .nav-header h1 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.app .row-container .menu-container .navigation .nav-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.app .row-container .menu-container .navigation .nav-content * {
  font-size: 0.9rem;
}
.app .row-container .menu-container .navigation .nav-content .category-list li:hover {
  cursor: pointer;
}
.app .row-container .menu-container .navigation .nav-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 4px;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item a {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item a:hover, .app .row-container .menu-container .navigation .nav-content ul .nav-item a.active {
  background-color: #dee3e9;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item a:hover .nav-item-main, .app .row-container .menu-container .navigation .nav-content ul .nav-item a:hover .nav-item-secondary, .app .row-container .menu-container .navigation .nav-content ul .nav-item a.active .nav-item-main, .app .row-container .menu-container .navigation .nav-content ul .nav-item a.active .nav-item-secondary {
  font-weight: 600;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item:hover, .app .row-container .menu-container .navigation .nav-content ul .nav-item.active {
  background-color: #dee3e9;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item:hover .nav-item-main, .app .row-container .menu-container .navigation .nav-content ul .nav-item:hover .nav-item-secondary, .app .row-container .menu-container .navigation .nav-content ul .nav-item.active .nav-item-main, .app .row-container .menu-container .navigation .nav-content ul .nav-item.active .nav-item-secondary {
  font-weight: 600;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item.active {
  background-color: #F9D00F !important;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item.active:hover .main-item {
  background-color: transparent !important;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item.active .arrow-btn {
  transform: rotate(-90deg);
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item.expand {
  background-color: #dee3e9;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item.disabled:hover {
  cursor: default;
  background-color: transparent !important;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item.disabled .main-item {
  color: #616161 !important;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item.disabled .main-item:hover {
  cursor: default !important;
}
.app .row-container .menu-container .navigation .nav-content ul .nav-item .nav-item-secondary {
  font-size: 0.9em;
  transition: all ease-in-out 0.3s;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item {
  display: flex;
  flex-direction: column;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item:hover, .app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item.active {
  cursor: pointer;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item:hover .nav-item-main, .app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item:hover .nav-item-secondary, .app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item.active .nav-item-main, .app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item.active .nav-item-secondary {
  font-weight: 600;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item.active {
  background-color: #F9D00F;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item.active .nav-item-secondary {
  transform: rotate(-90deg);
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .main-item .nav-item-secondary {
  font-size: 0.9em;
  transition: all ease-in-out 0.3s;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .sub-item {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 0vh;
  transition: all ease 0.3s;
  overflow: hidden;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .sub-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  opacity: 0;
  transition: all ease 0.3s;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .sub-item ul li {
  margin: 0;
  width: 100%;
  display: flex;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .sub-item ul li a {
  padding: 5px 10px 5px 20px;
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .sub-item ul li a:hover {
  cursor: pointer;
  font-weight: 600;
  background-color: #F9D00F;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .sub-item.expand {
  margin-top: 5px;
  max-height: 100vh;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item .sub-item.expand ul {
  opacity: 1;
}
.app .row-container .menu-container .navigation .nav-content ul.sub-menu-expand .nav-item.active .sub-item ul li a:hover {
  background-color: #F0AE2C;
}
.app .row-container .content-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0;
}
.app .row-container .app-content {
  flex-grow: 1;
  height: auto;
  min-height: calc(100vh - 100px);
}

.main-footer {
  width: 100%;
  background-color: #2A2A2A;
}
.main-footer * {
  color: white;
}
.main-footer .container {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-footer .container .logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}
.main-footer .container .logo-wrapper .logo-container {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.main-footer .container .logo-wrapper .logo-container img {
  height: 40px;
  width: -moz-fit-content;
  width: fit-content;
}
.main-footer .container .logo-wrapper .logo-container .logo-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-footer .container .logo-wrapper .logo-container .logo-title-wrapper .logo-title {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.main-footer .container .logo-wrapper .logo-container .logo-title-wrapper .logo-subtitle {
  font-size: 0.8rem;
  letter-spacing: 4px;
}
.main-footer .container .contact-wrapper {
  flex-grow: 1;
  flex-basis: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.main-footer .container .contact-wrapper .row-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-footer .container .contact-wrapper .row-wrapper .navbar-highlight {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 4px;
  flex-grow: 2;
}
.main-footer .container .contact-wrapper .row-wrapper .contact-item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.main-footer .container .contact-wrapper .row-wrapper .contact-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}
.main-footer .container .contact-wrapper .row-wrapper .contact-item .contact-text {
  font-size: 0.9rem;
}

.main-form-input {
  padding: 5px 10px;
  background-color: #EDF0F3;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: 0.2s;
}
.main-form-input:active, .main-form-input:focus, .main-form-input:hover {
  background-color: #e7ebef;
}

.no-image {
  width: 100%;
  height: 100%;
  background-color: #D4D4D4;
  display: grid;
  place-items: center;
}
.no-image:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
.no-image:hover i {
  color: white;
}
.no-image i {
  font-size: 1.2rem;
  color: black;
}

.swiper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.swiper .swiper-pagination {
  position: relative;
}
.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #F92727;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  width: 280px;
  overflow: hidden;
  height: auto;
  background-color: white;
}
.product-card .image-container {
  width: 100%;
  height: 200px;
  background-color: #EDF0F3;
  overflow: hidden;
}
.product-card .image-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.3s;
}
.product-card .image-container img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.product-card .image-container .no-image {
  width: 100%;
  height: 100%;
  background-color: #D4D4D4;
  display: grid;
  place-items: center;
}
.product-card .image-container .no-image:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
.product-card .image-container .no-image:hover i {
  color: white;
}
.product-card .image-container .no-image i {
  font-size: 1.2rem;
  color: black;
}
.product-card .card-content {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}
.product-card .card-content .price-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.product-card .card-content .price-wrapper .main {
  font-size: 0.9em;
  font-weight: 600;
}
.product-card .card-content .price-wrapper .secondary {
  font-size: 0.9em;
  color: #F0AE2C;
  text-decoration: line-through;
}
.product-card .card-content .store-wrapper, .product-card .card-content .stock-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 0.9em;
}
.product-card .card-content .store-wrapper .store, .product-card .card-content .stock-wrapper .store {
  font-size: 0.9em;
}
.product-card .card-content .store-wrapper .discount, .product-card .card-content .stock-wrapper .discount {
  padding: 5px 10px;
  background-color: #F92727;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.9em;
  cursor: pointer;
}
.product-card .card-content .store-wrapper .stock, .product-card .card-content .store-wrapper .sale, .product-card .card-content .stock-wrapper .stock, .product-card .card-content .stock-wrapper .sale {
  font-size: 0.9em;
}
.product-card .card-content .card-title {
  color: black;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 1;
}
.product-card .card-content .card-title:hover {
  cursor: pointer;
  color: #F0AE2C;
}
.product-card .card-content .bottom-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.product-card .card-content .bottom-wrapper .location-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.product-card .card-content .bottom-wrapper .location-wrapper span {
  flex-grow: 1;
  font-size: 0.9em;
}
.product-card .card-content .bottom-wrapper .cart-btn {
  background-color: #F9D00F;
  color: white;
}
.product-card .card-content .bottom-wrapper .cart-btn:hover {
  cursor: pointer;
  background-color: #F92727;
  color: #F9D00F;
}

.UMKM-card {
  background-color: #F9D00F;
  border-radius: 4px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: nowrap;
}
.UMKM-card .image-container {
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px 0;
  flex-shrink: 0;
}
.UMKM-card .image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.3s;
}
.UMKM-card .image-container img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.UMKM-card .image-container .no-image {
  width: 100%;
  height: 100%;
  background-color: #D4D4D4;
  display: grid;
  place-items: center;
}
.UMKM-card .image-container .no-image:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
.UMKM-card .image-container .no-image:hover i {
  color: white;
}
.UMKM-card .image-container .no-image i {
  font-size: 1.2rem;
  color: black;
}
.UMKM-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.UMKM-card .card-content .card-title a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  font-size: 0.9em;
}
.UMKM-card .card-content .card-title a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.UMKM-card .card-content .info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 5px;
  align-items: center;
  justify-content: space-between;
}
.UMKM-card .card-content .info-wrapper .location-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.UMKM-card .card-content .info-wrapper span {
  font-size: 0.9em;
}

#session-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  max-width: 220px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
#session-message.active {
  transform: translateX(0);
  opacity: 1;
}
#session-message.success .content i.success {
  display: block;
}
#session-message.danger .content i.danger {
  display: block;
}
#session-message.info .content i.info {
  display: block;
}
#session-message .close-button {
  display: grid;
  place-items: center;
  padding: 10px;
}
#session-message .close-button:hover {
  cursor: pointer;
  background-color: #707070;
}
#session-message .content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
#session-message .content i {
  font-size: 1.5rem;
  display: none;
}
#session-message .content i.success {
  color: #27f939;
}
#session-message .content i.danger {
  color: #F92727;
}
#session-message .content i.info {
  color: #4270EE;
}
#session-message .content .message {
  flex-grow: 1;
  font-weight: 600;
}

.confirmation-modal .modal-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.confirmation-modal .modal-body .confirmation-input {
  font-weight: 600;
  text-transform: capitalize;
}
.confirmation-modal .modal-body .confirmation-page[data-page-id="1"] {
  font-weight: 600;
  color: #F92727;
}
.confirmation-modal .modal-body .confirmation-page[data-page-id="2"] {
  font-weight: 600;
  color: #27f939;
}
.confirmation-modal .modal-body .confirmation-page[data-page-id="3"] {
  font-weight: 600;
  color: #e5ff00;
}
.confirmation-modal .abort-button {
  background-color: #707070 !important;
  color: black !important;
}
.confirmation-modal .abort-button:hover {
  cursor: pointer;
  background-color: #2A2A2A !important;
  color: white !important;
}
.confirmation-modal .confirm-button {
  background-color: #F92727 !important;
}
.confirmation-modal .confirm-button:hover {
  cursor: pointer;
  background-color: #2A2A2A !important;
  color: white !important;
}

#auth_modal .modal-dialog, #umkm_bank_account_modal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}
#auth_modal .modal-dialog .modal-content, #umkm_bank_account_modal .modal-dialog .modal-content {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 400px;
  height: -moz-fit-content;
  height: fit-content;
}
#auth_modal .modal-dialog .modal-content small.error, #umkm_bank_account_modal .modal-dialog .modal-content small.error {
  padding-left: 10px;
  color: #F92727;
}
#auth_modal .modal-dialog .modal-content .close-modal-button, #umkm_bank_account_modal .modal-dialog .modal-content .close-modal-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
}
#auth_modal .modal-dialog .modal-content .close-modal-button:hover, #umkm_bank_account_modal .modal-dialog .modal-content .close-modal-button:hover {
  cursor: pointer;
  color: #F92727;
}
#auth_modal .modal-dialog .modal-content .close-modal-button i, #umkm_bank_account_modal .modal-dialog .modal-content .close-modal-button i {
  font-size: 1.3rem;
}
#auth_modal .modal-dialog .modal-content .logo-wrapper, #umkm_bank_account_modal .modal-dialog .modal-content .logo-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
#auth_modal .modal-dialog .modal-content .logo-wrapper img, #umkm_bank_account_modal .modal-dialog .modal-content .logo-wrapper img {
  height: 40px;
  width: -moz-fit-content;
  width: fit-content;
}
#auth_modal .modal-dialog .modal-content .logo-wrapper .brand, #umkm_bank_account_modal .modal-dialog .modal-content .logo-wrapper .brand {
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-weight: 600;
  font-size: 1em;
}
#auth_modal .modal-dialog .modal-content .title, #umkm_bank_account_modal .modal-dialog .modal-content .title {
  width: 100%;
  font-weight: 600;
  display: grid;
  place-items: center;
  font-size: 1.1em;
  margin: 5px 0;
}
#auth_modal .modal-dialog .modal-content .form-floating, #umkm_bank_account_modal .modal-dialog .modal-content .form-floating {
  width: 100%;
  margin-bottom: 8px;
}
#auth_modal .modal-dialog .modal-content .form-floating input, #umkm_bank_account_modal .modal-dialog .modal-content .form-floating input {
  background-color: white;
}
#auth_modal .modal-dialog .modal-content .login-button, #umkm_bank_account_modal .modal-dialog .modal-content .login-button {
  background-color: black;
  font-weight: 600;
  color: white;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px 0;
}
#auth_modal .modal-dialog .modal-content .login-button:hover, #umkm_bank_account_modal .modal-dialog .modal-content .login-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
#auth_modal .modal-dialog .modal-content .login-button:hover, #umkm_bank_account_modal .modal-dialog .modal-content .login-button:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
#auth_modal .modal-dialog .modal-content .seperator, #umkm_bank_account_modal .modal-dialog .modal-content .seperator {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  margin: 5px 0;
}
#auth_modal .modal-dialog .modal-content .seperator span, #umkm_bank_account_modal .modal-dialog .modal-content .seperator span {
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  z-index: 120;
  position: relative;
}
#auth_modal .modal-dialog .modal-content .seperator::before, #umkm_bank_account_modal .modal-dialog .modal-content .seperator::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #707070;
  transform: translateY(12px);
  z-index: 119;
}
#auth_modal .modal-dialog .modal-content .register-suggest, #umkm_bank_account_modal .modal-dialog .modal-content .register-suggest {
  margin: 5px 0;
}
#auth_modal .modal-dialog .modal-content .register-suggest .register, #umkm_bank_account_modal .modal-dialog .modal-content .register-suggest .register {
  margin-left: 2px;
  font-weight: 600;
  text-decoration: none;
}
#auth_modal .modal-dialog .modal-content .register-suggest .register:hover, #umkm_bank_account_modal .modal-dialog .modal-content .register-suggest .register:hover {
  cursor: pointer;
  text-decoration: underline;
}

#umkm_bank_account_modal .modal-content .profile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5;
  align-items: center;
  justify-content: center;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10;
  align-items: center;
  justify-content: space-evenly;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper .profile-name {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper .image-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  display: grid;
  place-items: "center";
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.3s;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper .image-container img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper .image-container .no-image {
  height: 250px !important;
  width: 100%;
  height: 100%;
  background-color: #D4D4D4;
  display: grid;
  place-items: center;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper .image-container .no-image:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper .image-container .no-image:hover i {
  color: white;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .profile-head-wrapper .image-container .no-image i {
  font-size: 1.2rem;
  color: black;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .card-content-wrapper {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .card-content-wrapper .card-content-wrapper-title {
  width: 100%;
  font-weight: 600;
  margin-bottom: 10px;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .card-content-wrapper .wrapper-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#umkm_bank_account_modal .modal-content .profile-wrapper .card-content-wrapper .wrapper-col .col-title {
  font-weight: 600;
}

.pagination .page-item.active .page-link {
  background-color: #F9D00F;
  border-color: #F9D00F;
}
.pagination .page-link {
  color: #F0AE2C;
}

.btn-default-orange {
  background-color: #F9D00F;
  font-weight: 600;
  color: white;
  border-radius: 0;
}
.btn-default-orange:hover {
  cursor: pointer;
  background-color: #F0AE2C;
  color: white;
}

.btn-default-red {
  background-color: #F92727;
  font-weight: 600;
  color: white;
  border-radius: 0;
}
.btn-default-red:hover {
  cursor: pointer;
  background-color: #fb6363;
  color: white;
}

.btn-default-dark {
  background-color: #2A2A2A;
  font-weight: 600;
  color: white;
  border-radius: 0;
}
.btn-default-dark:hover {
  cursor: pointer;
  background-color: #494949;
  color: white;
}

@media screen and (max-width: 820px) {
  .app .row-container .menu-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    background-color: #2A2A2A;
    width: -moz-fit-content;
    width: fit-content;
  }
  .app .row-container .menu-container.lighten {
    background-color: #2A2A2A;
  }
  .app .row-container .menu-container.hide {
    transform: translateX(-98%);
  }
  .app .row-container .menu-container.hide > :not(.toggle-btn) {
    opacity: 0;
  }
  .app .row-container .menu-container .shadow-placeholder {
    display: block;
  }
  .app .row-container .menu-container .toggle-btn {
    display: grid;
  }
  .app .row-container .menu-container .card {
    background-color: transparent !important;
  }
  .app .row-container .menu-container .card * {
    color: white;
  }
  .app .row-container .menu-container .navigation-menu {
    height: 100%;
    overflow-y: auto;
  }
  .app .row-container .menu-container .navigation-menu * {
    color: white;
  }
  .app .row-container .menu-container .navigation-menu .nav-content ul .nav-item:not(.active):hover {
    background-color: #F0AE2C;
  }
  .app .row-container .menu-container .navigation-menu .nav-content ul .nav-item.expand {
    background-color: #F0AE2C !important;
  }
  .app .row-container .menu-container .navigation-menu .nav-content ul .nav-item .sub-item ul li a {
    color: white !important;
  }
}
@media screen and (max-width: 400px) {
  .app .row-container .menu-container {
    width: 90%;
  }
  .app .row-container .menu-container .navigation {
    width: 100%;
  }
}/*# sourceMappingURL=app.css.map */