#navbar {
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 120;
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 270px;
  transition: all ease-in-out 0.3s;
}
#navbar.scroll-up {
  position: fixed;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
}
#navbar.scroll-down {
  transform: translate3d(0, -100%, 0);
}
#navbar .container {
  height: 60px;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
}
#navbar .container .logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px 0;
}
#navbar .container .logo-wrapper:hover {
  cursor: pointer;
}
#navbar .container .logo-wrapper .logo-img-container {
  width: -moz-fit-content;
  width: fit-content;
}
#navbar .container .logo-wrapper .logo-img-container img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#navbar .container .logo-wrapper .logo-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#navbar .container .logo-wrapper .logo-text-container .logo-text-main {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
}
#navbar .container .logo-wrapper .logo-text-container .logo-text-sub {
  font-size: 0.8rem;
  letter-spacing: 2px;
}
#navbar .container .menu-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#navbar .container .menu-wrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 20px;
  padding: 0;
  margin: 0;
}
#navbar .container .menu-wrapper ul li {
  padding: 0 20px;
  flex-shrink: 0;
}
#navbar .container .menu-wrapper ul li a {
  text-decoration: none;
  color: black;
}
#navbar .container .menu-wrapper ul li a:hover {
  cursor: pointer;
  font-weight: 600;
}
#navbar .container .menu-wrapper ul li.active {
  font-weight: 600;
}
#navbar .container .menu-wrapper ul li.menu-dropdown {
  display: none;
  padding: 10px;
  border-radius: 4px;
  color: #F92727;
  transition: all ease 0.3s;
}
#navbar .container .menu-wrapper ul li.menu-dropdown.active {
  transform: rotate(180deg);
}
#navbar .container .auth-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
#navbar .container .auth-wrapper .auth, #navbar .container .auth-wrapper .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
#navbar .container .auth-wrapper .auth .btn.auth-primary, #navbar .container .auth-wrapper .user .btn.auth-primary {
  background-color: #F92727;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
#navbar .container .auth-wrapper .auth .btn.auth-primary:hover, #navbar .container .auth-wrapper .user .btn.auth-primary:hover {
  background-color: #F92727;
  color: black;
}
#navbar .container .auth-wrapper .auth .btn.auth-primary.ico span, #navbar .container .auth-wrapper .user .btn.auth-primary.ico span {
  margin-left: 4px;
}
#navbar .container .auth-wrapper .auth .btn.auth-primary.hovered span, #navbar .container .auth-wrapper .user .btn.auth-primary.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
#navbar .container .auth-wrapper .auth .btn.auth-primary.hovered:hover span, #navbar .container .auth-wrapper .user .btn.auth-primary.hovered:hover span {
  max-width: 200vw;
}
#navbar .container .auth-wrapper .auth .btn.auth-secondary, #navbar .container .auth-wrapper .user .btn.auth-secondary {
  background-color: white;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
#navbar .container .auth-wrapper .auth .btn.auth-secondary:hover, #navbar .container .auth-wrapper .user .btn.auth-secondary:hover {
  background-color: white;
  color: #F92727;
}
#navbar .container .auth-wrapper .auth .btn.auth-secondary.ico span, #navbar .container .auth-wrapper .user .btn.auth-secondary.ico span {
  margin-left: 4px;
}
#navbar .container .auth-wrapper .auth .btn.auth-secondary.hovered span, #navbar .container .auth-wrapper .user .btn.auth-secondary.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
#navbar .container .auth-wrapper .auth .btn.auth-secondary.hovered:hover span, #navbar .container .auth-wrapper .user .btn.auth-secondary.hovered:hover span {
  max-width: 200vw;
}
#navbar .container .auth-wrapper .auth .btn.auth-secondary:hover, #navbar .container .auth-wrapper .user .btn.auth-secondary:hover {
  border: 1px solid #F92727;
}
#navbar .container .auth-wrapper .user .btn-dropdown {
  background-color: white;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  transition: ease 0.3s;
}
#navbar .container .auth-wrapper .user .btn-dropdown:hover {
  background-color: #F92727;
  color: white;
}
#navbar .container .auth-wrapper .user .btn-dropdown.ico span {
  margin-left: 4px;
}
#navbar .container .auth-wrapper .user .btn-dropdown.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
#navbar .container .auth-wrapper .user .btn-dropdown.hovered:hover span {
  max-width: 200vw;
}
#navbar .container .auth-wrapper .user .btn-dropdown.active {
  transform: rotate(180deg);
  border: 1px solid #F92727;
  color: #F92727;
}
#navbar .container .auth-wrapper .search, #navbar .container .auth-wrapper .hidden-menu {
  padding: 5px 20px;
  border-radius: 4px;
}
#navbar .container .auth-wrapper .search:hover, #navbar .container .auth-wrapper .hidden-menu:hover {
  cursor: pointer;
  background-color: #FBF7F7;
}
#navbar .container .auth-wrapper .search.active, #navbar .container .auth-wrapper .hidden-menu.active {
  background-color: #F9D00F;
}
#navbar .container .auth-wrapper .hidden-menu {
  display: none;
}
#navbar .container .auth-wrapper .hidden-menu.active {
  background-color: #FBF7F7;
}

.navbar-placeholder {
  height: 60px;
  width: 100%;
}

.navbar-auth-dropdown {
  background-color: #2A2A2A;
  color: white;
  position: absolute;
  top: 60px;
  z-index: 118;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  min-width: 270px;
  transform: translateY(-100vh);
  opacity: 0;
}
.navbar-auth-dropdown.active {
  transform: translateY(0);
  opacity: 1;
}
.navbar-auth-dropdown .container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navbar-auth-dropdown .container .auth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.navbar-auth-dropdown .container .auth .btn.auth-primary {
  background-color: #F92727;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.navbar-auth-dropdown .container .auth .btn.auth-primary:hover {
  background-color: #F92727;
  color: black;
}
.navbar-auth-dropdown .container .auth .btn.auth-primary.ico span {
  margin-left: 4px;
}
.navbar-auth-dropdown .container .auth .btn.auth-primary.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.navbar-auth-dropdown .container .auth .btn.auth-primary.hovered:hover span {
  max-width: 200vw;
}
.navbar-auth-dropdown .container .auth .btn.auth-secondary {
  background-color: #2A2A2A;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.navbar-auth-dropdown .container .auth .btn.auth-secondary:hover {
  background-color: #2A2A2A;
  color: #F92727;
}
.navbar-auth-dropdown .container .auth .btn.auth-secondary.ico span {
  margin-left: 4px;
}
.navbar-auth-dropdown .container .auth .btn.auth-secondary.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.navbar-auth-dropdown .container .auth .btn.auth-secondary.hovered:hover span {
  max-width: 200vw;
}
.navbar-auth-dropdown .container .auth .btn.auth-secondary:hover {
  border: 1px solid #F92727;
}
.navbar-auth-dropdown .container .user {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.navbar-auth-dropdown .container .user .img-container {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  overflow: hidden;
}
.navbar-auth-dropdown .container .user .img-container .no-image {
  width: 100%;
  height: 100%;
  background-color: #D4D4D4;
  display: grid;
  place-items: center;
}
.navbar-auth-dropdown .container .user .img-container .no-image:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
.navbar-auth-dropdown .container .user .img-container .no-image:hover i {
  color: white;
}
.navbar-auth-dropdown .container .user .img-container .no-image i {
  font-size: 1.2rem;
  color: black;
}
.navbar-auth-dropdown .container .user .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar-auth-dropdown .container .user .username-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.navbar-auth-dropdown .container .user .username-container .username {
  font-weight: 600;
  overflow: hidden;
  flex-grow: 1;
}
.navbar-auth-dropdown .container .user .username-container .btn {
  color: white;
}
.navbar-auth-dropdown .container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.navbar-auth-dropdown .container ul li {
  margin: 0;
}
.navbar-auth-dropdown .container ul li a {
  color: white;
  text-decoration: none;
}
.navbar-auth-dropdown .container ul li a:hover {
  font-weight: 600;
}

.navbar-menu-dropdown {
  background-color: #F9D00F;
  color: white;
  position: absolute;
  top: 60px;
  z-index: 119;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  min-width: 270px;
  transform: translateY(-100vh);
  opacity: 0;
}
.navbar-menu-dropdown.active {
  transform: translateY(0);
  opacity: 1;
}
.navbar-menu-dropdown .container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-menu-dropdown .container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbar-menu-dropdown .container ul li.active a {
  font-weight: 600;
  color: #F92727;
}
.navbar-menu-dropdown .container ul li a {
  color: black;
  text-decoration: none;
}
.navbar-menu-dropdown .container ul li a:hover {
  cursor: pointer;
  font-weight: 600;
}

.navbar-search-dropdown {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 119;
  transform: translateY(-100vh);
  transition: all ease-in-out 0.3s;
  opacity: 0;
}
.navbar-search-dropdown.active {
  transform: translateY(0);
  opacity: 1;
}
.navbar-search-dropdown .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
}
.navbar-search-dropdown .container .input-group button {
  background-color: #2A2A2A;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.navbar-search-dropdown .container .input-group button:hover {
  background-color: #F9D00F;
  color: black;
}
.navbar-search-dropdown .container .input-group button.ico span {
  margin-left: 4px;
}
.navbar-search-dropdown .container .input-group button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.navbar-search-dropdown .container .input-group button.hovered:hover span {
  max-width: 200vw;
}

@media screen and (max-width: 991px) {
  #navbar .container .logo-wrapper .logo-text-container {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #navbar .container .menu-wrapper ul {
    gap: 0;
  }
  #navbar .container .auth-wrapper {
    gap: 5px;
  }
  #navbar .container .auth-wrapper .hidden-menu {
    display: block;
  }
  #navbar .container .auth-wrapper .auth, #navbar .container .auth-wrapper .user {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .navbar-auth-dropdown .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 529px) {
  #navbar .container .menu-wrapper {
    flex-wrap: wrap;
    padding: 0 10px;
  }
  #navbar .container .menu-wrapper ul {
    gap: 10px;
    justify-content: flex-start;
  }
  #navbar .container .menu-wrapper ul li {
    flex-shrink: 1;
    padding: 0;
  }
  #navbar .container .menu-wrapper ul li:not(.active) {
    display: none;
  }
  #navbar .container .menu-wrapper ul .menu-dropdown {
    display: grid !important;
    place-items: center;
  }
  #navbar .auth-wrapper {
    flex-wrap: nowrap;
  }
  #navbar .auth-wrapper .search, #navbar .auth-wrapper .hidden-menu {
    padding: 5px 10px !important;
  }
}/*# sourceMappingURL=navbar.css.map */