.app-content {
  background-color: #EDF0F3;
}

.profile-page .container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-page .container .page-title {
  padding: 10px;
  background-color: #F9D00F;
  border-radius: 4px;
}
.profile-page .container .page-title h1 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.profile-page .container .page-title h1 span {
  color: #F92727;
}
.profile-page .container .page-content-card {
  width: 100%;
  height: fit-content;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  padding: 15px 10px;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-page .container .page-content-card.information .row-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-page .container .page-content-card.information .row-wrapper .icon-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.profile-page .container .page-content-card.information .row-wrapper .icon-container i {
  font-size: 2.5rem;
  color: #F92727;
}
.profile-page .container .page-content-card.information .row-wrapper .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-page .container .page-content-card.information .row-wrapper .card-content .title-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.profile-page .container .page-content-card.information .row-wrapper .card-content .title-container .title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.profile-page .container .page-content-card .card-title-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.profile-page .container .page-content-card .card-title-wrapper i {
  font-size: 2.5rem;
  color: #F92727;
  padding: 0 20px;
}
.profile-page .container .page-content-card .card-title-wrapper .title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.profile-page .container .page-content-card .card-content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.profile-page .container .page-content-card .card-content .content-wrapper {
  flex-basis: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 3px !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-title {
  flex-basis: 150px;
  font-weight: 600;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-items .input-detail {
  text-align: justify;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-items input, .profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-items textarea {
  width: 100%;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-items select, .profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-items .file {
  max-width: 420px;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-items small {
  margin-left: 10px;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper .input-items small.error {
  color: #F92727;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper textarea {
  min-height: 110px;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper.top {
  align-items: flex-start;
}
.profile-page .container .page-content-card .card-content .content-wrapper .row-wrapper.top * {
  transition: 0s;
}
.profile-page .container .page-content-card .card-content .picture-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 20px;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .image-container .input-trigger-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .image-container .input-trigger-overlay.round {
  border-radius: 50%;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .image-container .input-trigger-overlay i, .profile-page .container .page-content-card .card-content .picture-wrapper .image-container .input-trigger-overlay span {
  color: white;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .image-container .input-trigger-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.profile-page .container .page-content-card .card-content .picture-wrapper .image-container .input-trigger-overlay:hover i, .profile-page .container .page-content-card .card-content .picture-wrapper .image-container .input-trigger-overlay:hover span {
  color: #F9D00F;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .no-image {
  width: 100%;
  height: 100%;
  background-color: #D4D4D4;
  display: grid;
  place-items: center;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .no-image:hover {
  cursor: pointer;
  background-color: #2A2A2A;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .no-image:hover i {
  color: white;
}
.profile-page .container .page-content-card .card-content .picture-wrapper .no-image i {
  font-size: 1.2rem;
  color: black;
}
.profile-page .container .page-content-card .card-content .document-wrapper {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper {
  flex-grow: 1;
  flex-basis: 400px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 3px !important;
  justify-content: space-between;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-title {
  flex-basis: 150px;
  font-weight: 600;
  flex-grow: 0.5;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-title small.error {
  color: red;
  font-weight: 400;
  font-size: 0.9rem;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  height: fit-content;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .input-trigger-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .input-trigger-overlay i, .profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .input-trigger-overlay span {
  color: white;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .input-trigger-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .input-trigger-overlay:hover i, .profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .input-trigger-overlay:hover span {
  color: #F9D00F;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .image-container {
  max-width: 400px;
  height: fit-content;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .input-detail {
  text-align: justify;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items input, .profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items textarea {
  width: 100%;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items select, .profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items .file {
  max-width: 420px;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items small {
  margin-left: 10px;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper .input-items small.error {
  color: #F92727;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper textarea {
  min-height: 110px;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper.top {
  align-items: flex-start;
}
.profile-page .container .page-content-card .card-content .document-wrapper .row-wrapper.top * {
  transition: 0s;
}
.profile-page .container .page-content-card .card-content .button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.profile-page .container .page-content-card .card-content .button-wrapper .save-button {
  background-color: #F9D00F;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.profile-page .container .page-content-card .card-content .button-wrapper .save-button:hover {
  background-color: #F0AE2C;
  color: white;
}
.profile-page .container .page-content-card .card-content .button-wrapper .save-button.ico span {
  margin-left: 8px;
}
.profile-page .container .page-content-card .card-content .button-wrapper .save-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.profile-page .container .page-content-card .card-content .button-wrapper .save-button.hovered:hover span {
  max-width: 200vw;
}
.profile-page .container .page-content-card .card-content .button-wrapper .edit-button {
  background-color: transparent;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.profile-page .container .page-content-card .card-content .button-wrapper .edit-button:hover {
  background-color: #F9D00F;
  color: black;
}
.profile-page .container .page-content-card .card-content .button-wrapper .edit-button.ico span {
  margin-left: 8px;
}
.profile-page .container .page-content-card .card-content .button-wrapper .edit-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.profile-page .container .page-content-card .card-content .button-wrapper .edit-button.hovered:hover span {
  max-width: 200vw;
}
.profile-page .container .page-content-card .card-content .button-wrapper .abort-button {
  background-color: #2A2A2A;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.profile-page .container .page-content-card .card-content .button-wrapper .abort-button:hover {
  background-color: #F9D00F;
  color: black;
}
.profile-page .container .page-content-card .card-content .button-wrapper .abort-button.ico span {
  margin-left: 8px;
}
.profile-page .container .page-content-card .card-content .button-wrapper .abort-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.profile-page .container .page-content-card .card-content .button-wrapper .abort-button.hovered:hover span {
  max-width: 200vw;
}/*# sourceMappingURL=profile-page.css.map */