.app-content {
  background-color: #EDF0F3;
}

.btn {
  border-radius: 4px !important;
}

.umkm-registration .container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.umkm-registration .container .page-title {
  padding: 10px;
  background-color: #F9D00F;
  border-radius: 4px;
}
.umkm-registration .container .page-title h1 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.umkm-registration .container .page-title h1 span {
  color: #F92727;
}
.umkm-registration .container .page-title.secondary {
  background-color: unset;
  margin-top: 5px;
}
.umkm-registration .container .user-info-card {
  padding: 10px 20px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.umkm-registration .container .user-info-card .image-wrapper .image-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}
.umkm-registration .container .user-info-card .image-wrapper .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.umkm-registration .container .user-info-card .name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.umkm-registration .container .user-info-card .name-wrapper .name {
  font-weight: 600;
}
.umkm-registration .container .user-info-card .document-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-basis: 320px;
}
.umkm-registration .container .user-info-card .document-wrapper .row-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 320px;
  flex-wrap: wrap;
}
.umkm-registration .container .page-card {
  padding: 10px 20px;
  background-color: white;
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
}
.umkm-registration .container .page-card.col-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper .input-title {
  flex-basis: 150px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper .input-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper .input-items input, .umkm-registration .container .page-card.col-wrap .row-wrapper .input-items textarea {
  width: 100%;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper .input-items select, .umkm-registration .container .page-card.col-wrap .row-wrapper .input-items .file {
  max-width: 420px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper .input-items small {
  margin-left: 10px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper .input-items small.error {
  color: #F92727;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper .input-items .label {
  font-weight: 600;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper textarea {
  min-height: 110px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.top {
  align-items: flex-start;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.top * {
  transition: 0s;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper {
  flex-basis: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .input-button-container {
  width: 100%;
  flex-basis: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .input-button-container .btn.submit-button {
  background-color: #F9D00F;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .input-button-container .btn.submit-button:hover {
  background-color: #2A2A2A;
  color: white;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .input-button-container .btn.submit-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .input-button-container .btn.submit-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .input-button-container .btn.submit-button.hovered:hover span {
  max-width: 200vw;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .input-button-container .info {
  color: #616161;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .input-button-container .error {
  color: #F92727;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .image-container {
  flex-basis: 380px;
  height: -moz-fit-content;
  height: fit-content;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .image-container.hovered {
  position: relative;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .image-container.hovered:hover .hovered-overlay {
  display: grid;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .image-container .hovered-overlay {
  display: none;
  place-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .image-container .hovered-overlay i {
  font-size: 1.2rem;
  color: #F92727;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .image-container #umkm-picture-input-button {
  width: 100%;
  height: 200px;
  background-color: #FBF7F7;
}
.umkm-registration .container .page-card.col-wrap .row-wrapper.picture-form .input-items.image-wrapper .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.umkm-registration .container .page-card.row-wrap {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.umkm-registration .container .page-card.row-wrap .col-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 350px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-title {
  flex-basis: 150px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items input, .umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items textarea {
  width: 100%;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items select, .umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items .file {
  max-width: 420px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items small {
  margin-left: 10px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items small.error {
  color: #F92727;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items .label {
  font-weight: 600;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper textarea {
  min-height: 110px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper.top {
  align-items: flex-start;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper.top * {
  transition: 0s;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper.top-align {
  align-items: flex-start;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items.ico-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items.ico-wrap i {
  font-size: 1.2rem;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items.ico-wrap i.info {
  color: #616161;
  font-size: 1rem;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items.ico-wrap i.active {
  color: #F9D00F;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .input-items.ico-wrap i.reject {
  color: #F92727;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.submit-button {
  background-color: #EDF0F3;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 45px;
  justify-content: center !important;
  transition: all ease-in-out 0.2s;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.submit-button:hover {
  background-color: #F9D00F;
  color: black;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.submit-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.submit-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.submit-button.hovered:hover span {
  max-width: 200vw;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.submit-button * {
  font-size: 0.9rem;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.submit-button.active {
  background-color: #F9D00F;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.add-button {
  background-color: #F92727;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 45px;
  justify-content: center !important;
  transition: all ease-in-out 0.2s;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.add-button:hover {
  background-color: #F92727;
  color: white;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.add-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.add-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.add-button.hovered:hover span {
  max-width: 200vw;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.add-button * {
  font-size: 0.9rem;
}
.umkm-registration .container .page-card.row-wrap .col-wrap .row-wrapper .row-button .btn.add-button.active {
  background-color: #F9D00F;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper {
  flex-grow: 1;
  flex-basis: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  max-height: 0vh;
  transition: all ease-in-out 0.3s;
  padding-top: 0;
  overflow: hidden;
  position: relative;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper.active {
  flex-basis: 650px;
  padding-top: 10px;
  max-height: 1000vh;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper.active .image-container img {
  opacity: 1;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper .image-container {
  flex-basis: 320px;
  flex-grow: 1;
  height: -moz-fit-content;
  height: fit-content;
  transition: all ease-in-out 0.1s;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper .image-container.hovered {
  position: relative;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper .image-container.hovered:hover .hovered-overlay {
  display: grid;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper .image-container.gone {
  display: none;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper .image-container .hovered-overlay {
  display: none;
  place-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper .image-container .hovered-overlay i {
  font-size: 1.2rem;
  color: #F92727;
}
.umkm-registration .container .page-card.row-wrap .image-wrapper .image-container img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.umkm-registration .container .page-card.row-wrap .card-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container.full-basis {
  flex-basis: 100%;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .delete-button {
  background-color: transparent;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .delete-button:hover {
  background-color: #F92727;
  color: white;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .delete-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .delete-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .delete-button.hovered:hover span {
  max-width: 200vw;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .delete-button i {
  font-size: 1rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .delete-button span {
  font-size: 0.9rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .abort-button {
  background-color: transparent;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .abort-button:hover {
  background-color: #2A2A2A;
  color: white;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .abort-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .abort-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .abort-button.hovered:hover span {
  max-width: 200vw;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .abort-button i {
  font-size: 1rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .abort-button span {
  font-size: 0.9rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .save-button {
  background-color: transparent;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .save-button:hover {
  background-color: #F9D00F;
  color: black;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .save-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .save-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .save-button.hovered:hover span {
  max-width: 200vw;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .save-button i {
  font-size: 1rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .save-button span {
  font-size: 0.9rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .download-button {
  background-color: #F9D00F;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .download-button:hover {
  background-color: #F0AE2C;
  color: black;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .download-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .download-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .download-button.hovered:hover span {
  max-width: 200vw;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .download-button i {
  font-size: 1rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .download-button span {
  font-size: 0.9rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .edit-button {
  background-color: #2A2A2A;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .edit-button:hover {
  background-color: #F9D00F;
  color: black;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .edit-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .edit-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .edit-button.hovered:hover span {
  max-width: 200vw;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .edit-button i {
  font-size: 0.8rem;
}
.umkm-registration .container .page-card.row-wrap .card-button-container .edit-button span {
  font-size: 0.9rem;
}
.umkm-registration .container .page-card .empty-container {
  height: 120px;
  display: grid;
  place-items: center;
}
.umkm-registration .container .page-card .empty-container span {
  color: #616161;
  font-size: 0.9rem;
}
.umkm-registration .container .page-card .button-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.umkm-registration .container .page-card .button-wrapper .submit-button {
  background-color: #F92727;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.9rem;
}
.umkm-registration .container .page-card .button-wrapper .submit-button:hover {
  background-color: #F9D00F;
  color: black;
}
.umkm-registration .container .page-card .button-wrapper .submit-button.ico span {
  margin-left: 8px;
}
.umkm-registration .container .page-card .button-wrapper .submit-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-registration .container .page-card .button-wrapper .submit-button.hovered:hover span {
  max-width: 200vw;
}/*# sourceMappingURL=umkm-registration.css.map */