.umkm-verification .container .page-content-card.page-verify-card {
  height: -moz-fit-content;
  height: fit-content;
  max-height: 0vh;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
  padding: 0;
}
.umkm-verification .container .page-content-card.page-verify-card.active {
  max-height: 1000vh;
  padding: 10px;
}
.umkm-verification .container .page-content-card .info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.umkm-verification .container .page-content-card .info-wrapper * {
  font-size: 1rem;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-title {
  flex-basis: 150px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items input, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items textarea {
  width: 100%;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items select, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items .file {
  max-width: 420px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items small {
  margin-left: 10px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items small.error {
  color: #F92727;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items .label {
  font-weight: 600;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper textarea {
  min-height: 110px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper.top {
  align-items: flex-start;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper.top * {
  transition: 0s;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper.top-align {
  align-items: flex-start;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-title {
  font-weight: 600;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button {
  flex-basis: 400px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn {
  background-color: #EDF0F3;
  font-weight: 600;
  color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn:hover {
  background-color: #F9D00F;
  color: black;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn.ico span {
  margin-left: 4px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn.hovered:hover span {
  max-width: 200vw;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn * {
  font-size: 0.9rem;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn.active {
  background-color: #EDF0F3;
  width: 100%;
  flex-direction: row-reverse;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn.active span {
  margin: 0;
  margin-right: 10px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn.active i.fa-solid.fa-chevron-up {
  transform: rotate(180deg);
  transition: all ease-in-out 0.2s;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn.active:hover {
  background-color: #F9D00F;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn.active:hover i.fa-solid.fa-chevron-up {
  transform: rotate(0);
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn .expand, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn .minimize {
  display: none !important;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn .expand.show, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .btn .minimize.show {
  display: block !important;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .docs-wrapper, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .umkm-picture-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #EDF0F3;
  transition: all ease-in-out 0.3s;
  max-height: 0vh;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .docs-wrapper .image-container, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .umkm-picture-wrapper .image-container {
  max-width: 800px;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .docs-wrapper .image-container img, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .umkm-picture-wrapper .image-container img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .docs-wrapper.umkm-picture-wrapper, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .umkm-picture-wrapper.umkm-picture-wrapper {
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .docs-wrapper.umkm-picture-wrapper .image-container, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .umkm-picture-wrapper.umkm-picture-wrapper .image-container {
  max-width: 800px;
  flex-basis: 280px;
  flex-grow: 1;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .docs-wrapper.show, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .umkm-picture-wrapper.show {
  max-height: 2000vh;
}
.umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .docs-wrapper.show .image-container, .umkm-verification .container .page-content-card .info-wrapper .row-wrapper .input-items.row-button .umkm-picture-wrapper.show .image-container {
  opacity: 1;
}
.umkm-verification .container .page-content-card .info-wrapper .content-title {
  color: #616161;
  margin-top: 5px;
  letter-spacing: 1px;
}
.umkm-verification .container .page-content-card .info-wrapper .owner-info-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.umkm-verification .container .page-content-card .info-wrapper .owner-info-wrapper .info-wrapper {
  flex-grow: 1;
  flex-basis: 220px;
}
.umkm-verification .container .page-content-card .info-wrapper .owner-info-wrapper .profile-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  padding: 10px 0;
}
.umkm-verification .container .page-content-card .info-wrapper .owner-info-wrapper .profile-wrapper .image-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
  overflow: hidden;
}
.umkm-verification .container .page-content-card .info-wrapper .owner-info-wrapper .profile-wrapper .image-container img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
.umkm-verification .container .page-content-card .log-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 0vh;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}
.umkm-verification .container .page-content-card .log-wrapper.active {
  max-height: 200vh;
  padding: 0 20px;
}
.umkm-verification .container .page-content-card .log-wrapper .title {
  font-weight: 600;
}
.umkm-verification .container .page-content-card .log-wrapper table {
  font-size: 0.9rem;
}
.umkm-verification .container .page-content-card .message-container {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  max-height: 0vh;
}
.umkm-verification .container .page-content-card .message-container.active {
  max-height: 100vh;
  padding-top: 15px;
}
.umkm-verification .container .page-content-card .message-container .title {
  font-size: 1rem;
  font-weight: 600;
}
.umkm-verification .container .page-content-card .message-container textarea {
  transition: height 0s linear;
}
.umkm-verification .container .page-content-card .message-container small.error {
  margin-right: 10px;
  color: #F92727;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-title {
  flex-basis: 150px;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-items input, .umkm-verification .container .page-content-card .message-container .row-wrapper .input-items textarea {
  width: 100%;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-items select, .umkm-verification .container .page-content-card .message-container .row-wrapper .input-items .file {
  max-width: 420px;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-items small {
  margin-left: 10px;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-items small.error {
  color: #F92727;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-items .label {
  font-weight: 600;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper textarea {
  min-height: 110px;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper.top {
  align-items: flex-start;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper.top * {
  transition: 0s;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-title {
  font-size: 1rem;
  font-weight: 600;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-items {
  font-size: 0.9rem;
}
.umkm-verification .container .page-content-card .message-container .row-wrapper .input-items.file {
  max-width: 320px;
}
.umkm-verification .container .page-content-card .button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-accept {
  background-color: #F9D00F;
  color: black;
  padding: 5px 20px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-accept:hover {
  background-color: #b79805;
  color: black;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-accept.ico span {
  margin-left: 4px;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-accept.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-accept.hovered:hover span {
  max-width: 200vw;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-reject {
  background-color: #F92727;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-reject:hover {
  background-color: #ce0606;
  color: black;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-reject.ico span {
  margin-left: 4px;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-reject.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-reject.hovered:hover span {
  max-width: 200vw;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-abort {
  background-color: #2A2A2A;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.2s;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-abort:hover {
  background-color: #040404;
  color: black;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-abort.ico span {
  margin-left: 4px;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-abort.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-abort.hovered:hover span {
  max-width: 200vw;
}
.umkm-verification .container .page-content-card .button-wrapper .btn.btn-abort:hover {
  color: #F9D00F;
}/*# sourceMappingURL=umkm-verification-page.css.map */